{% extends 'base/base.html' %}
   
{% block styles %}
    <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock styles %}

{% block main %}

    <section class="page-banner services-banner">
        <div class="container">
            <div class="banner-header">
                <h2>Our Services</h2>
                <span class="underline center"></span>
                <p class="lead">The standard chunk of Lorem Ipsum used since</p>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li>Forgot Password</li>
                </ul>
            </div>
        </div>
    </section>

    <div class="form-section">
        <h1>Forgot Password</h1>
        <form action="{{ url_for('auth.forgot_password' ) }}" method="post">
            {% include 'includes/alerts.html' %}

            <input type="email" name="email" placeholder="Enter your registered email">
            
            <input type="submit" value="Submit">
        </form>
    </div>

{% endblock main %}
        
        