<pre style="font-family: Arial, Helvetica, sans-serif;">
    Hello Admin,
        We hope this message finds you well. I am happy to share this, we have a new user for our library. 
        Please check his details and grant him/her with student access

        <table>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            
            <tr>
                <th>email</th>
                <td>{{ user.email }}</td>
            </tr>
        </table>
</pre>