<pre>
    Dear {{ user.name }},
        {% if request_type == '1' %}
            We are excited to inform you that your account has been successfully verified! 🎉.
            Now, you can start using your account.
            
        {% else %}
            We are sorry to inform you that your account has not been verified.
            please meet the librarian for more details
            
        {% endif %}
        
        Happy Learning.

        With Regrades
        The librarian
        VIT-AP University
</pre>